html{
	font-size:62.5%;/*16px×62.5％＝10px*/
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
	letter-spacing: : 0.05rem;
	background-color: #000;
}

/* load時のanimation */

.loading-animation{
	width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
	background-image: url(../img/animation__bgi.jpg);
	background-position: center;
	background-size: cover;
	animation: loading-animation 2.6s forwards;
}

.loading-animation::before{
	content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}

.app-title{
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	z-index: 5;
	font-family: 'Audiowide', cursive;
	font-size: 4.2rem;
	color: #fff;
	animation: title-animation 2.6s forwards;
}

@keyframes title-animation {
	0% {
    opacity: 0;
  }

	70% {
		opacity: 1;
	}

  100% {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes loading-animation {
  0% {
    opacity: 1;
  }

	70% {
		opacity: 1;
	}

  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}


/* app内レイアウト */
.wrapper{
	box-sizing: border-box;
	margin: 0 auto;
  padding: 24px 18px;
	max-width: 414px;
	min-height: 100vh;
	background-color: #fff;
}

.container{
  padding: 24px 0;
}

.center{
  text-align: center;
}

.sub-headline{
  font-size: 2.4rem;
}

.fishForm{
  display: flex;
  justify-content: space-between;
}

.fishResult{
  padding: 10px 0;
}

.fishPoint{
  display: inline;
}

.count{
  width: 30px;
  text-align: right;
}

.center{
  text-align: center;
}

.btn{
  width: 100%;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
}

.btn-area{
  padding: 24px 0;
}

.garbage{
  font-size: 2.4rem;
}

.display-count{
    padding: 24px 0;
}

.fish-img{
  width: 7vw;
  padding: 0.9vw;
}
