html{
	font-size:62.5%;/*16px×62.5％＝10px*/
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
	letter-spacing: : 0.05rem;
}

.wrapper{
  padding: 24px 18px;
}

.container{
  padding: 24px 0;
}

.center{
  text-align: center;
}

.sub-headline{
  font-size: 2.4rem;
}


.fishResult{
  padding: 10px 0;
}

.fishPoint{
  display: inline;
}

.count{
  width: 30px;
  text-align: right;
}

.center{
  text-align: center;
}

.btn{
  width: 100%;
  margin: 12px 0;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.removeBtn{

}

.btn-area{
  padding: 24px 0;
}

.body{
  /* background: linear-gradient(#77CFE7, #002A5E);
  min-height: 100vh; */
}

.wrapper{
  padding: 24px 18px;
}
